{% extends "course_work/base.html" %}
{% load bootstrap3 %}
{% block css %}
    <style>
        #map {
            height: 600px;  /* The height is 400 pixels */
            width: 100%;  /* The width is the width of the web page */
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-8 mt-3 mb-3">
            {% bootstrap_button "Home" href="/course_work" %}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 style="text-align: center;">Departments on map</h1>
            <div id="map"></div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
      function initMap() {
        const map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          center: new google.maps.LatLng(2.8,-187.3),
          mapTypeId: 'terrain'
        });

        const depts = {{ depts|safe }};

        depts.forEach(dept => {
          const latLng = new google.maps.LatLng(dept.lat, dept.lon);
          const marker = new google.maps.Marker({
            position: latLng,
            map: map
          });
          const infowindow = new google.maps.InfoWindow({
            content: [
              '<div>',
                '<div>',
                'Department name: ' + dept.name,
                '</div>',
                '<div>',
                'Department id: ' + dept.id,
                '</div>',
              '</div>',
            ].join('')
          });
          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });
        });
      }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCg_a1FCF_AUuAT6uHim3fa2ldV4b28u8g&callback=initMap">
    </script>
{% endblock %}