{% load bootstrap3 %}
{% with title="Data Visualization Course Work" %}
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% bootstrap_css %}
    {% block js %}{% endblock %}
    <style>
        h1.title {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8 mt-3 mb-3">
            <h1 style="text-align: center;">{{ title }}</h1>
        </div>
    </div>
    {% block content %}{% endblock %}
</div>
{% bootstrap_javascript %}
</body>
</html>
{% endwith %}